bitarray
datasketch
black @ git+https://github.com/psf/black@d1d4fc58d3b744db35ac832cddf1d076ba5f5e7f
scikit-learn
pandas
tpot
causal-learn
networkx==3.3
tqdm
elastic-transport
elasticsearch==7.17.3
elasticsearch-dsl
entrypoints
fire
flake8
Flask
ftfy
h5py
ipykernel
ipython
ipython-genutils
ipywidgets
isort
joblib
json5
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-vim
jupyterlab-widgets
matplotlib
mypy
nbconvert
neo4j
nltk
numpy==1.25.2
pandas
PyYAML
requests
scikit-image
scipy --only-binary=scipy
torch
torchvision
redis
